.user-booking-container {
    position: absolute;
    width: 100%;
    min-height: 100vh;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.user-bookong-header
{
    position: absolute;
    top: 100px;
}
