.notification-container
{
    position: relative;   
    height: 100vh;
    top: 100px;
}
.notification-container-array{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        margin-left: 20px;
    }
#create-btn{

}
#board-title-txt{
}
.header{
    height: 200px;
    width: 100%;
    background-color : #E9EEF6;
    padding-top: 50px;
  }