.notification-container
{
    position: relative;   
    height: 100vh;
    top: 100px;
}
.notification-container-array{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
