.CreateTaskWrapper
{
    position: relative;
    width: 100%;
    height: 100vh;
}
.create-task-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:450px;
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    padding: 10px 80px;
    box-sizing: border-box
  }
  .create-task-body{
    margin-top: 200px;
  }

  .create-task{
   
  }
  .hovertext:before {
    content: attr(data-hover);
  }
#content-input:hover:before {
  opacity: 1;
  visibility: visible;
}
#category-input:hover:before {
  opacity: 1;
  visibility: visible;
}
#submit-notification{
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}
#submit-notification:hover{
  border-color: #2691d9;
  transition: .5s;
}
