.chart-container{
    position: absolute;
    top: 55%;
    margin-left: 150px;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}